# ---------------- #
#   Main Configs   #
# ---------------- #
baseurl:
url: http://neyzoter.github.io
date_format: "ordinal"
title: "宋超超"
subtitle: "科技人生"
description: "B.A. of Automation,M.S. of Control sciece and engineering"
keywords: IoT, 控制, 人工智能, Python
favicon: /favicon.ico
timezone: Asia/Shanghai
encoding: "utf-8"
side_bar_repo_limit: 5

# ---------------- #
#      Author      #
# ---------------- #
author: songchaochao
organization: ZJU, Sch.
organization_url: http://www.zju.edu.cn/
github_username: Neyzoter
location: Hangzhou, China
email: sonechaochao@gmail.com

# ---------------- #
#    Navigation    #
# ---------------- #
navs:
  -
    href: /
    label: 首页

  -
    href: /categories/
    label: 分类

  -
    href: /wiki/
    label: 维基

  -
    href: /links/
    label: 链接

  -
    href: /about/
    label: 关于

# ---------------- #
#       RSS        #
# ---------------- #
subscribe_rss: /feed.xml

# ---------------- #
#      Jekyll      #
# ---------------- #
markdown: kramdown
kramdown:
    input: GFM
highlighter: rouge
paginate: 8
lsi: false
quiet: false
excerpt_separator: "\n\n"
permalink: /:year/:month/:day/:title/
gems:
    - jekyll-github-metadata
    - rouge
#     - jekyll-html-pipeline
    - jekyll-paginate
    - jekyll-sitemap
    - jekyll-feed
    - jemoji
#     - jekyll-mentions
collections:
    wiki:
        output: true
        permalink: /wiki/:path/

repository: Neyzoter/Neyzoter.github.io

# ---------------- #
#      Comments    #
# ---------------- #
# support provider: disqus, netease_gentie
comments_provider: netease_gentie
# !!!重要!!! 请修改下面这些信息为你自己申请的
# !!!Important!!! Please modify infos below to yours
disqus:
    username: songchaochao
# https://imsun.net/posts/gitment-introduction/
#gitment:
#    owner: Neyzoter
#    repo: blog-comments
#    oauth:
#        client_id: 456b3bc0565b5575a770
#        client_secret: 3b060e443c0fe0b0a84d296ba5b8f4ecf8c0d11a
# https://github.com/gitalk/gitalk#install
#gitalk:
#    owner: Neyzoter
#    repo: blog-comments
#    clientID: 456b3bc0565b5575a770
#    clientSecret: 3b060e443c0fe0b0a84d296ba5b8f4ecf8c0d11a
# 在使用其它评论组件时可点击显示 Disqus
lazy_load_disqus : true
theme: jekyll-theme-cayman
# ---------------- #
#    Analytics     #
# ---------------- #
google:
    analytics_id: UA-141208130-1
    
